<nav class="navbar navbar-expand-lg bg-danger navbar-dark navbar-custom">
	<!-- Logo -->
	<a class="navbar-brand" href="/home"> 
		Ticket or Leave it
		{{!-- Image here if merong logo --}}
		{{!-- <img> --}}
	</a>

	<!-- Toggler/collapsibe Button -->
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#condenseNav">
		<span class="navbar-toggler-icon"></span>
	</button>

	<!-- Links -->
	<div class="collapse navbar-collapse" id="condenseNav">
		<ul class="navbar-nav nav mr-auto">
			<li class="nav-item">
				{{navBuilder current "Movies" "/movies"}}
			</li>
			<li class="nav-item">
				{{navBuilder current "Calendar" "/calendar"}}
			</li>
		</ul>
		<ul class="navbar-nav nav">
			{{#if (ActiveSession)}}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="btnAccount" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fa fa-user" aria-hidden="true"></i>
					Account
					<i class="fa fa-dropdown" aria-hidden="true"></i>
					</a>
					<div class="dropdown-menu" aria-labelledby="RegLogIn">
						<a class="dropdown-item" href='/user/{{username}}'>View Profile</a>
						<a class="dropdown-item" href={{userHrefBuilder username "tickets"}}>View Tickets</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="/logout">Log out</a>
					</div>
				</li>
			{{else}}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="RegLogin" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fa fa-user" aria-hidden="true"></i>
					Register/Log In
					<i class="fa fa-dropdown" aria-hidden="true"></i>
					</a>
					<div class="dropdown-menu" aria-labelledby="RegLogIn">
						<a class="dropdown-item" href="/register">Register</a>
						<a class="dropdown-item" href="/login">Log In</a>
					</div>
				</li>
			{{/if}}

		</ul>
	</div>
</nav>