<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{pageName}}</title>

    <!-- BS4 Link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Font Awesome 4 Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="css/HBS-images.css">

<style>
        .on
        {
            color:orange;
        }

        .slider{
          overflow: auto;
          white-space: nowrap;
          overflow-x:hidden;
        }

        img {
          display:inline-block;
          width: 200px;
          height: 300px;
        }

    </style>
    
</head>
<body>
    {{>header}}

    <div class="container mt-4">
        <h3 class="text-center text-danger"> View This Week's Showing </h3>

        <h4 class="mt-4"> Currently Showing </h4>
        
        <hr>
        
        <div class="row">
            <!-- Navigation Pills -->
            <div class="col-sm-2 mb-4">
                <ul class="nav flex-column nav-pills" id="Navigation" role="tablist" aria-orientation="vertical">
                    <li class="nav-item">
                        <a class="nav-link text-center active bg-danger text-light" id="SunShow" data-toggle="pill" href="#SunTab" role="tab">Sunday</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-center bg-danger text-light mt-1" id="MonShow" data-toggle="pill" href="#MonTab" role="tab">Monday</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-center bg-danger text-light mt-1" id="TueShow" data-toggle="pill" href="#TueTab" role="tab">Tuesday</a>
                    </li>
                        
                    <li class="nav-item">
                        <a class="nav-link text-center bg-danger text-light mt-1" id="WedShow" data-toggle="pill" href="#WedTab" role="tab">Wednesday</a>
                    </li>
                        
                    <li class="nav-item">
                        <a class="nav-link text-center bg-danger text-light mt-1" id="ThuShow" data-toggle="pill" href="#ThuTab" role="tab">Thursday</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center bg-danger text-light mt-1" id="FriShow" data-toggle="pill" href="#FriTab" role="tab">Friday</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-center bg-danger text-light mt-1" id="SatShow" data-toggle="pill" href="#SatTab" role="tab">Saturday</a>                        
                    </li>
                </ul>
            </div>
            <div class="col-sm-10">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="SunTab" role="tabpanel">
                        <div class="container">
                            <div class="row">
                                <h4>Sunday</h4>
                            </div>
                            <div>

                                <!-- Movies -->
                                <div>
                                    <a href="#">
                                        <div class="">
                                            <div class="slider" id="slider1">
                                            
                                            {{#each moviePicM}}
                                            <img src={{this}}>
                                            {{/each}}

                                        </div>
                                        <div style="text-align:center;"><button id="leftButton1"><</button> <button id="rightButton1">></button></div>
                                        </div>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="tab-pane fade" id="MonTab" role="tabpanel">
                        <div class="container">
                            <div class="row">
                                <h4>Monday</h4>
                            </div>

                            <div>

                                <!-- Movies -->
                                <div>
                                    <a href="#">
                                        <div class="">
                                            <div class="slider" id="slider2">
                                            
                                            {{#each moviePicT}}
                                            <img src={{this}}>
                                            {{/each}}

                                        </div>
                                        <div style="text-align:center;"><button id="leftButton2"><</button> <button id="rightButton2">></button></div>
                                        </div>
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>


                    <div class="tab-pane fade" id="TueTab" role="tabpanel">
                        <div class="container">
                            <div class="row">
                                <h4>Tuesday</h4>
                            </div>

                            <div>
                                <a href="#">
                                    <div class="">
                                        <div class="slider" id="slider3">
                                        
                                        {{#each moviePicW}}
                                        <img src={{this}}>
                                        {{/each}}

                                    </div>
                                    <div style="text-align:center;"><button id="leftButton3"><</button> <button id="rightButton3">></button></div>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>


                    <div class="tab-pane fade" id="WedTab" role="tabpanel">
                        <div class="container">
                            <div class="row">
                                <h4>Wednesday</h4>
                            </div>

                            <div>
                                <a href="#">
                                    <div class="">
                                        <div class="slider" id="slider4">
                                        
                                        {{#each moviePicH}}
                                        <img src={{this}}>
                                        {{/each}}

                                    </div>
                                    <div style="text-align:center;"><button id="leftButton4"><</button> <button id="rightButton4">></button></div>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>


                    <div class="tab-pane fade" id="ThuTab" role="tabpanel">
                        <div class="container">
                            <div class="row">
                                <h4>Thursday</h4>
                            </div>

                            <div>
                                <a href="#">
                                    <div class="">
                                        <div class="slider" id="slider5">
                                        
                                        {{#each moviePicF}}
                                        <img src={{this}}>
                                        {{/each}}

                                    </div>
                                    <div style="text-align:center;"><button id="leftButton5"><</button> <button id="rightButton5">></button></div>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>


                    <div class="tab-pane fade" id="FriTab" role="tabpanel">
                        <div class="container">
                            <div class="row">
                                <h4>Friday</h4>
                            </div>

                            <div>
                                <a href="#">
                                    <div class="">
                                        <div class="slider" id="slider6">
                                        
                                        {{#each moviePicSa}}
                                        <img src={{this}}>
                                        {{/each}}

                                    </div>
                                    <div style="text-align:center;"><button id="leftButton6"><</button> <button id="rightButton6">></button></div>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>


                    <div class="tab-pane fade" id="SatTab" role="tabpanel">
                        <div class="container">
                            <div class="row">
                                <h4>Saturday</h4>
                            </div>

                            <div>
                                <a href="#">
                                    <div class="">
                                        <div class="slider" id="slider7">
                                        
                                        {{#each moviePicSu}}
                                        <img src={{this}}>
                                        {{/each}}

                                    </div>
                                    <div style="text-align:center;"><button id="leftButton7"><</button> <button id="rightButton7">></button></div>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- BS4 Scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>    

<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>

    <script>
        $("#leftButton1").click(function(){
            $("#slider1").animate({scrollLeft: '-=300'}, 500);
            console.log("left");
        });
        $("#rightButton1").click(function(){
            $("#slider1").animate({scrollLeft: '+=300'}, 500);
            console.log("right");
        });

        $("#leftButton2").click(function(){
            $("#slider2").animate({scrollLeft: '-=300'}, 500);
            console.log("left");
        });
        $("#rightButton2").click(function(){
            $("#slider2").animate({scrollLeft: '+=300'}, 500);
            console.log("right");
        });

        $("#leftButton3").click(function(){
            $("#slider3").animate({scrollLeft: '-=300'}, 500);
            console.log("left");
        });
        $("#rightButton3").click(function(){
            $("#slider3").animate({scrollLeft: '+=300'}, 500);
            console.log("right");
        });

        $("#leftButton4").click(function(){
            $("#slider4").animate({scrollLeft: '-=300'}, 500);
            console.log("left");
        });
        $("#rightButton4").click(function(){
            $("#slider4").animate({scrollLeft: '+=300'}, 500);
            console.log("right");
        });

        $("#leftButton5").click(function(){
            $("#slider5").animate({scrollLeft: '-=300'}, 500);
            console.log("left");
        });
        $("#rightButton5").click(function(){
            $("#slider5").animate({scrollLeft: '+=300'}, 500);
            console.log("right");
        });

        $("#leftButton6").click(function(){
            $("#slider6").animate({scrollLeft: '-=300'}, 500);
            console.log("left");
        });
        $("#rightButton6").click(function(){
            $("#slider6").animate({scrollLeft: '+=300'}, 500);
            console.log("right");
        });

        $("#leftButton7").click(function(){
            $("#slider7").animate({scrollLeft: '-=300'}, 500);
            console.log("left");
        });
        $("#rightButton7").click(function(){
            $("#slider7").animate({scrollLeft: '+=300'}, 500);
            console.log("right");
        });
    </script>
</body>
</html>