<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{pageName}}</title>

    <!-- BS4 Link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Font Awesome 4 Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="css/HBS-images.css">
</head>
<body>
    {{>header}}

    {{!-- bodehhhh --}}
    <div class="d-flex flex-row w-100">
        <!-- Movie Information -->
        <!-- EDITED -->
        <div id="movieInfo" class="d-flex flex-row">
            <div class="w-75 p-3">
                <div id="title" class="w-100">
                    <h3>{{title}}</h3>
                </div>
                <div id="genre" class="w-100">
                    <h4>{{genre}}</h4>
                </div>
                <div class="d-flex flex-row p-3">
                    <div id = "movie-cover" class="w-25 justify-content-center" style="height: 400px;">
                        <img src={{imageurl}} alt="psily-movie" height="100%">
                    </div>
                    <div class="w-75">
                        <!-- Rating -->
                        {{!-- need javascript for this... append ang idea ko :< pero dunno pa how ill do it --}}
                        <div class="container">
                            <h2 class="bold padding-bottom-7">4.4 <small>/ 5</small></h2>
                            <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-warning btn-grey btn-sm" aria-label="Left Align">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                        </div>
                        
                        <!-- Synopsis -->
                        <div id="synopsis" class="padded">
                            <h6>{{synopsis}}</h6>
                        </div>
                        
                        <!-- cast -->
                        <div id="cast" class="padded">
                            <h6>{{cast}}</h6>
                        </div>
                    </div>
                </div>

                <button class="w-100" type="button" class="btn btn-success" id="seeTrailer">See Trailer</button>
                <button class="w-100" type="button" class="btn btn-success" id="buyTicket">Buy Ticket</button>
            </div>

            <!-- Reviews -->
            <div class="w-25 review-block pre-scrollable overflow-auto">
            <!-- use whole keme for 'each' -->
            {{#each review}}
                <hr>
                <div class="w-100 d-flex flex-row">
                    <div class="w-25">
                        <img src={{imageurl}} class="img-rounded">
                        <div class="review-block-name"><a href="#">{{name}}</a></div>
                        <div class="review-block-date">{{date}}<br/>...</div>
                    </div>
                    <div class="w-75">
                        {{!-- hindi pa naeedit, need ata javascript here --}}
                        {{!-- di pa gumagana ung star --}}
                        <div id= "review-block-rate" class="review-block-rate">
                            <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="review-block-title">{{cTitle}}</div>
                        <div class="review-block-description">{{comment}}</div>
                    </div>
                </div>
            {{/each}}
            <!-- end keme for each -->
                <hr>
                <!-- source: https://bootsnipp.com/snippets/40pMm -->
            </div>
        </div>
    </div>
    
    <!-- Showing Schedules -->
    <!-- EDITED -->
    <div class="schedules w-100">
        {{>displayMovies}}   
    </div>

    <!-- BS4 Scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>    
</body>
</html>