<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{pageName}}</title>

    <!-- BS4 Link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Font Awesome 4 Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="/css/HBS-images.css">

    <style>
        .on
        {
            color:orange;
        }
    </style>
</head>
<body>
    {{>header}}

    <!-- Main content -->
    <div class="container mt-4 px-4">
        <div class="row">
            <!-- Movie Details -->
            <div class="col-md-8" id="movieInfo">
                {{#with movieDetails}}
                    <h3>{{title}}</h3>
                    <h5 class="text-secondary">{{genre}}</h5>

                    <div class="row">
                        <!-- Movie Cover -->
                        <div class="col-md-5">
                            <div class="card my-2">
                                <img class="movie-poster img-thumbnail" src={{moviecover}}>
                            </div>
                        </div>

                        <!-- Movie Information -->
                        <div class="col-md-7 my-auto">
                            <div class="container">
                                <!-- Helper function for rating below-->
                                <!-- Placeholder for now-->
                                <div class="row">
                                    <h4>{{rating}}/<small>5</small></h4>
                                </div>
                                <div class="row">
                                    <span>
                                        {{rateBuilder rating}}
                                    </span>
                                </div>


                                <div class="row mt-4">
                                    <h6 class="text-justify">{{synopsis}}</h6>
                                </div>

                                <div class="row mt-4">
                                    <h6>Starring: </h6> &nbsp;
                                    <h6> 
                                        {{#each cast}}
                                            {{this}}
                                            {{#unless @last}}, {{/unless}}
                                        {{/each}}
                                    </h6>
                                </div>
                            </div>
                        </div>

                    </div>
                    
                    <hr>

                    <div class="row justify-content-center">
                        <div class="col-md-3 mb-2">
                            <button class="btn btn-block btn-danger" type="submit">View Trailer</button>
                        </div>
                        
                    </div>

                
                {{/with}}
            </div>

            <!-- Ratings -->
            <div class="col-md-4">
                <div class="row mb-4">
                    <div class="col-12 overflow-auto pre-scrollable mt-4">
                        <h6 class="text-center mb-0"> Reviews </h6>
                        <hr class="mt-0">

                        {{#each review}}
                            <div class="card bg-light mb-2">
                                <div class="container-fluid">
                                    <div class="card-body p-1">
                                        <div class="row no-gutters">
                                            <div class="col-3">
                                                <div class="row">
                                                    <image class="review-dp mx-auto rounded-circle" src={{profilepic}}>
                                                </div>
                                                <div class="row">
                                                    <small class="mx-auto">{{fName}}</small>
                                                </div>
                                                <div class="row">
                                                    <small class="mx-auto">{{lName}}</small>
                                                </div>
                                            </div>
                                            <div class="col-9">
                                                <div class="row">
                                                    <small class="pl-3">{{rateBuilder rating}}</small>
                                                </div>
                                                <div class="row">
                                                    <small class="pl-3"><h6>{{commentTitle}}</h6></small>
                                                </div>
                                                <div class="row">
                                                    <small class="pl-3"><p class="mb-0">{{comment}}</p></small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer py-0 pl-2 pr-0">
                                    <div class="row no-gutters">
                                        <span class="mr-auto">
                                            <small class="text-muted align-middle">{{date}}</small>
                                        </span>
                                        {{deleteBtnBuilder ../username username}}
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
                <div class="row justify-content-center">
                    {{#if isSignedIn}}
                        <button class="btn btn-danger">Add review</button>
                    {{/if}}
                </div>
            </div>
        </div>


    <!-- Showing Schedules -->
    <!-- EDITED -->
    <div class="schedules">
        {{>displayMovies}}   
    </div>
    </div>

    

    <!-- BS4 Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript">
        function reserve(showID){

            console.log("movie-view.hbs = " + showID);
            { $.ajax({
                url: '/seats/' + showID,
                method: 'GET',
                data: {
                    showID: showID,
                }
            })
            };
        }
    </script>
</body>
</html>