<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{pageName}}</title>

    <!-- BS4 Link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Font Awesome 4 Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="/css/HBS-images.css">

    <style>
        .on
        {
            color:orange;
        }
    </style>
</head>
<body>
    {{>header}}

    <!-- Main content -->
    <div class="container mt-4 px-4">
        <div class="row">
            <!-- Movie Details -->
            <div class="col-md-8" id="movieInfo">
                {{#with movieDetails}}
                    <h3>{{title}}</h3>
                    <h5 class="text-secondary">{{genre}}</h5>

                    <div class="row">
                        <!-- Movie Cover -->
                        <div class="col-md-5">
                            <div class="card my-2">
                                <img class="movie-poster img-thumbnail" src={{moviecover}}>
                            </div>
                        </div>

                        <!-- Movie Information -->
                        <div class="col-md-7 my-auto">
                            <div class="container">
                                <!-- Helper function for rating below-->
                                <!-- Placeholder for now-->
                                <div class="row">
                                    <h4>{{rating}}/<small>5</small></h4>
                                </div>
                                <div class="row">
                                    <span>
                                        {{rateBuilder rating}}
                                    </span>
                                </div>


                                <div class="row mt-4">
                                    <h6 class="text-justify">{{synopsis}}</h6>
                                </div>

                                <div class="row mt-4">
                                    <h6>Starring: </h6> &nbsp;
                                    <h6> 
                                        {{#each cast}}
                                            {{this}}
                                            {{#unless @last}}, {{/unless}}
                                        {{/each}}
                                    </h6>
                                </div>
                            </div>
                        </div>

                    </div>
                    
                    <hr>

                    <div class="row justify-content-center">
                        <div class="col-md-3 mb-2">
                            <button class="btn btn-block btn-danger" type="submit">View Trailer</button>
                        </div>
                        
                    </div>

                
                {{/with}}
            </div>

            <!-- Ratings -->
            <div class="col-md-4">
                <div class="row mb-4">
                    <div class="col-12 overflow-auto pre-scrollable mt-4">
                        <h6 class="text-center mb-0"> Reviews </h6>
                        <hr class="mt-0">

                        {{#each review}}
                            <div class="card bg-light mb-2">
                                <div class="container-fluid">
                                    <div class="card-body p-1">
                                        <div class="row no-gutters">
                                            <div class="col-3">
                                                <div class="row">
                                                    <image class="review-dp mx-auto rounded-circle" src={{profilepic}}>
                                                </div>
                                                <div class="row">
                                                    <small class="mx-auto">{{fName}}</small>
                                                </div>
                                                <div class="row">
                                                    <small class="mx-auto">{{lName}}</small>
                                                </div>
                                            </div>
                                            <div class="col-9">
                                                <div class="row">
                                                    <small class="pl-3">{{rateBuilder rating}}</small>
                                                </div>
                                                <div class="row">
                                                    <small class="pl-3"><h6>{{commentTitle}}</h6></small>
                                                </div>
                                                <div class="row">
                                                    <small class="pl-3"><p class="mb-0">{{comment}}</p></small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer py-0 pl-2 pr-0">
                                    <div class="row no-gutters">
                                        <span class="mr-auto">
                                            <small class="text-muted align-middle">{{date}}</small>
                                        </span>
                                        {{deleteBtnBuilder ../username username}}
                                    </div>
                                </div>
                            </div>
                        {{/each}}


                    </div>
                    <div class="col-12 mt-4">
                        <form name="AddReview" id="AddReview" class="form-horizontal" method="post" action='/AddReview'>
                            {{!-- ito ung try ko --}}
                            <i type = "button" class="fa fa-star btnrating btn btn-default btn-lg" data-attr="1" id="rating-star-1"></i>
                            <i type = "button" class="fa fa-star btnrating btn btn-default btn-lg" data-attr="2" id="rating-star-2"></i>
                            <i type = "button" class="fa fa-star btnrating btn btn-default btn-lg" data-attr="3" id="rating-star-3"></i>
                            <i type = "button" class="fa fa-star btnrating btn btn-default btn-lg" data-attr="4" id="rating-star-4"></i>
                            <i type = "button" class="fa fa-star btnrating btn btn-default btn-lg" data-attr="5" id="rating-star-5"></i>
                            
                            {{!-- ito ung sa online --}}
                            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="1" id="rating-star-1">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="2" id="rating-star-2">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="3" id="rating-star-3">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="4" id="rating-star-4">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="5" id="rating-star-5">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </button>

                            {{!-- <button type="button" class="btnrating btn btn-default btn-lg" data-attr="1" id="rating-star-1">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </button>
                             --}}
                            <div class="form-group row">
                                {{!-- <label for="AddReview" class="col-form-label col-md-3 text-center">Review Title</label> --}}
                                <div class="col-md-9">
                                    <input type="text" name="ReviewTitle" class="form-control" placeholder="Title">
                                </div>
                            </div>

                            <div class="form-group row">
                                {{!-- <label for="AddReview" class="col-form-label col-md-3 text-center">Review </label> --}}
                                <div class="col-md-9">
                                    <input type="text" name="Review" class="form-control" placeholder="Comment">
                                </div>
                            </div>

                            <div class="form-group row justify-content-center">
                                <button type="submit" id="addReview" class="btn btn-danger"> Add Comment </button>
                            </div>
                        </form>
                    </div>
                </div>
                {{!-- <div class="row justify-content-center">
                    {{#if isSignedIn}}
                        <button class="btn btn-danger">Add review</button>
                    {{/if}}
                </div> --}}
            </div>
        </div>


    <!-- Showing Schedules -->
    <!-- EDITED -->
    <div class="schedules">
        {{>displayMovies}}   
    </div>
    </div>

    

    <!-- BS4 Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    {{!--  
    source: https://bootsnipp.com/snippets/WaXlr
    --}}
    <script type="text/javascript">
        	jQuery(document).ready(function($){
	    
                $(".btnrating").on('click',(function(e) {
                
                var previous_value = $("#selected_rating").val();
                
                var selected_value = $(this).attr("data-attr");
                $("#selected_rating").val(selected_value);
                
                $(".selected-rating").empty();
                $(".selected-rating").html(selected_value);
                
                for (i = 1; i <= selected_value; i++) {
                $("#rating-star-"+i).toggleClass('btn-warning');
                $("#rating-star-"+i).toggleClass('btn-default');
                }
                
                for (ix = 1; ix <= previous_value; ++ix) {
                $("#rating-star-"+ix).toggleClass('btn-warning');
                $("#rating-star-"+ix).toggleClass('btn-default');
                }
                
                }));
                
                    
            });
    </script>
</body>
</html>