<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{pageName}}</title>

    <!-- BS4 Link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Font Awesome 4 Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    {{>header}}
    <div class="container justify-content-center mt-4">
        <div class="row justify-content-center">
        {{#if errors}}
            <div class="col-sm-12 col-md-6">
            {{#each errors}}
                <div class="alert alert-danger my-1 text-center alert-dismissable fade show">
                    <small>{{msg}}</small>
                    <button type="button" class="close pl-3" data-dismiss="alert">
                        <i class="fa fa-close"></i>
                    </button>
                </div>
            {{/each}}
            </div>
            {{#with initValues}}
                <div id="fnholder" class="d-none">{{regFName}}</div>
                <div id="lnholder" class="d-none">{{regLName}}</div>
                <div id="unholder" class="d-none">{{regUName}}</div>
                <div id="emailholder" class="d-none">{{regEmail}}</div>
                <div id="phoneholder" class="d-none">{{regPhone}}</div>
            {{/with}}
        {{/if}}
        {{#if errors}}
            <div class="col-sm-12 col-md-6">
            {{else}}
            <div class="col-sm-12 col-md-12">
        {{/if}}
                <div class="card m-auto p-3" id="regForm" style="max-width: 450px">
                    <h4 class="card-title text-center">Register</h4>
                    <p class="text-center mb-0">Create an account now to book tickets</p>
                    <hr>

                    <form name="register" id="register" method="POST">
                        <!-- Name -->
                        <div class="form-row">
                            <div class="form-group col-md-6 input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <label for="regFName" class="sr-only">First Name</label>
                                <input  type="text" name="regFName" id="regFName" class="form-control" placeholder="First Name">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="regLName" class="sr-only">Last Name</label>
                                <input  type="text" name="regLName" id="regLName" class="form-control" placeholder="Last Name">
                            </div>
                        </div>
                        
                        <!-- Username -->
                        <div class="form-row">
                            <div class="form-group col-sm-12 input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@</span>
                                </div>
                                <label for="regUName" class="sr-only">Username</label>
                                <input  type="text" name="regUName" id="regUName" class="form-control" placeholder="Username">
                                <div class="invalid-feedback" id="unamefeedback">
                                    That username is taken.
                                </div>
                            </div>
                        </div>

                        <!-- Email -->
                        <div class="form-row">
                            <div class="form-group col-sm-12 input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                </div>
                                <label for="regEmail" class="sr-only">Email address</label>
                                <input  type="email" name="regEmail" id="regEmail" class="form-control" placeholder="Email Address">
                                <div class="invalid-feedback" id="emailfeedback">
                                    Invalid Email.
                                </div>
                            </div>
                        </div>

                        <!-- Phone number -->
                        <div class="form-row">
                            <div class="form-group col-sm-12 input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-phone"></i></span>
                                </div>
                                <label for="regPhone" class="sr-only">Phone Number</label>
                                <input  type="text" name="regPhone" id="regPhone" class="form-control" placeholder="Phone number">
                            </div>
                        </div>

                        <!-- Password -->
                        <div class="form-row">
                            <div class="form-group col-sm-12 input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-lock"></i><span>
                                </div>
                                <label for="regPassword" class="sr-only">Password</label>
                                <input  type="password" name="regPassword" id="regPassword" class="form-control" placeholder="Password">
                            </div>
                        </div>

                        <!-- Confirm Password -->
                        <div class="form-row">
                            <div class="form-group col-sm-12 input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                                </div>
                                <label for="regConfPass" class="sr-only">Confirm Password</label>
                                <input  type="password" name="regConfPass" id="regConfPass" class="form-control" placeholder="Confirm Password">
                                <div class="invalid-feedback" id="passMatch">
                                    Invalid Email.
                                </div>
                            </div>
                        </div>

                        <!-- Submit button -->
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <button type="submit" name="regRegister" id="regRegister" class="btn btn-md btn-danger btn-block">Register</button>
                            </div>
                        </div>
                    </form>

                    <p class="text-center">Have an account? <a class="text-danger" href="/login">Log in</a></p>
                </div>
            </div>
        </div>
    </div>

    <!-- BS4 Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    --><script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>    
    <script src="/scripts/HBS-register.js"></script>
</body>
</html>