<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{pageName}}</title>

    <!-- BS4 Link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Font Awesome 4 Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="/css/HBS-images.css">
</head>
<body >
	<!-- Header main -->
	{{>header}}

	<div class="container-fluid mt-4">
		<div class="row">
			<!-- Sidebar -->
			<div class="col-sm-3">
				{{>profileSidebar}}
			</div>

			<!--Tickets-->
			<div class="col-sm-9">
				<div class="container">
					<div class="row">
						<h3 class="text-danger mb-0">Tickets</h3>	
					</div>
					<hr>
					<div class="row">
						{{#each tickets}}
							{{ticketBorder status}}		
								<div class="card-header py-2">
									<h5 class="mb-0">{{title}}</h5>
								</div>

								<div class="card-body p-0">
									<table class="table table-sm table-borderless text-center mb-0">
										<tr>
											<td><h6>Show Date:</h6></td>
											<td>{{showDate}}</td>
										</tr>
										<tr>
											<td><h6>Show Time:</b></td>
											<td>{{showTime}}</td>
										</tr>
										<tr>
											<td><h6>Seats:</h6></td>
											<td>
											{{#each seats}}
												{{this}}
												{{#unless @last}}, {{/unless}}
											{{/each}}
											</td>
										</tr>
										<tr>
											<td><h6>Total Cost:</h6></td>
											<td>{{totalCost}}</td>
										</tr>
									</table>
								</div>
								<div class="card-footer py-1">
									<small class="text-muted">Booked: {{dateBooked}}</small>
								</div>
							</div> <!-- Dangling div because ticketborder helper creates div with border -->
						{{/each}}
					</div>
				</div>
			</div>
		</div>
	</div>       
</body>
</html>