<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{pageName}}</title>

    <!-- BS4 Link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Font Awesome 4 Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- This page's CSS -->
	<link rel="stylesheet" type="text/css" href="/css/HBS-images.css">

	    <!-- BS4 Scripts -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		<script type="text/javascript">
			$(document).ready(()=>{
				$("#profilepic").css("pointerEvents","none");

				$("#Edit").click(()=>{
					$("#Edit").hide();
					$("#Save").show();
					$("#File").show();
					$(".d-none").removeClass("d-none");
					$("#fName").removeAttr("readonly");
					$("#lName").removeAttr("readonly");
					$("#Email").removeAttr("readonly");
					$("#Mobile").removeAttr("readonly");
					$("#profilepic").css("pointerEvents","auto");

				})

			})
		</script>

</head>
<body>
	{{>header}}

	<div class="container pt-5">
		<div class="row">
			<!-- Profile photo -->
			<div class="col-md-3">
				{{>profileSidebar}}
			<form class="form-horizontal" method='POST' action='{{username}}/editProfile' enctype="multipart/form-data">
				<div class="form-group">
					<input type="file" name="File" id="File" class="btn btn-block d-none" accept="image/*" 
					value="Upload Photo" onchange="document.getElementById('profilepic').src = window.URL.createObjectURL(this.files[0])" required>
				</div>
				
			</div>
			<!-- Other contents -->
			<div class="col-md-9">
				<div class="card border-0 justify-content-center">
						<!-- Name -->
						<div class="form-group row">
							<label class="control-label col-md-2">Name: </label>
							<div class="col-md-5">
								<input type="text" readonly name="fName" id="fName" class="form-control" value='{{fname}}' required>
							</div>
							<div class="col-md-5">
								<input type="text" readonly name="lName" id="lName" class="form-control" value='{{lname}}' required>
							</div>
						</div>

						<!-- Username -->
						<div class="form-group row">
							<label for="UName" class="control-label col-md-2">Username</label>
							<div class="col-md-10">
								<input type="text" readonly name="UName" id="UName" class="form-control-plaintext pl-2" value={{username}}>
							</div>
						</div>

						<!-- Email address -->
						<div class="form-group row">
							<label for="Email" class="control-label col-md-2">Email address</label>
							<div class="col-md-10">
								<input type="email" readonly name="Email" id="Email" class="form-control" value='{{email}}' required>
							</div>
						</div>

						<!-- Phone number -->
						<div class="form-group row">
							<label for="Mobile" class="control-label col-md-2">Mobile number</label>
							<div class="col-md-10">
								<input type="nuber" readonly name="Mobile" id="Mobile" class="form-control" value='{{phone}}' required>
							</div>
						</div>

					<!-- Controls -->
						<div class="form-group row justify-content-center">
							<button type="button" id="Edit" class="btn btn-danger">Edit</button>
							<button type="submit" id="Save" class="btn btn-danger d-none">Save</button>
						</div>
					</form>
				</div>
				<!--
				<div class="form-group row justify-content-center">
					<a name="ViewTicket" id="ViewTicket" class="btn btn-default btn-danger mx-2" href={{userHrefBuilder username "tickets"}}>View Tickets</a>
				</div>
				-->
			</div>
		</div>
	</div>

		
</body>
</html>
